<!--TODO если на вкладке есть неразрешенные конфлиты рисовать алерт напротив переменной и на вкладке-->
<div [formGroup]="form" class="rules">
  <ng-container formArrayName="rules">
    <ng-container *ngFor="let ruleForm of form.controls.rules.controls; let ruleIndex = index">
      <div [formGroup]="ruleForm" class="rule">
        <div>
          ----------------------------------IF-----------------------------------------------------------------
        </div>
        <div>
          <configurator-expression [formControl]="ruleForm.controls.expression"></configurator-expression>
        </div>
        <div>
          ----------------------------------THEN-----------------------------------------------------------------
        </div>
        <div>
          <ng-container *ngFor="let action of ruleForm.controls.actions.controls; let actionIndex = index">
            action {{actionIndex}} {{action.value | json}}
            <configurator-action [formControl]="action"></configurator-action>
            <button mat-raised-button (click)="removeAction(ruleForm.controls.actions, actionIndex)">RemoveAction</button>
          </ng-container>
          <button mat-raised-button (click)="addAction(ruleForm.controls.actions)">AddAction</button>
        </div>
        <div>

          -----------------------------------ELSE------------------------------------------------
        </div>
        <div>
          <ng-container *ngFor="let action of ruleForm.controls.else.controls; let elseIndex = index">
            else action {{elseIndex}}  {{action.value | json}}
            <configurator-action [formControl]="action"></configurator-action>
            <button mat-raised-button (click)="removeAction(ruleForm.controls.else, elseIndex)">RemoveAction</button>
          </ng-container>
          <button mat-raised-button (click)="addAction(ruleForm.controls.else)">AddAction</button>
        </div>

        <button class="remove-button" mat-icon-button (click)="removeRule(ruleIndex)"><mat-icon>delete</mat-icon></button>
      </div>
    </ng-container>
    <button mat-raised-button (click)="addRule()">AddRule</button>
  </ng-container>
</div>

