<p>rules works!</p>

если на вкладке есть неразрешенные конфлиты рисовать алерт напротив переменной и на вкладке
<div class="option">
<mat-select>
  <mat-option>
    association
  </mat-option>
</mat-select>

<mat-select>
  <mat-option>
    >=
  </mat-option>
  <mat-option>
    >
  </mat-option>
  <mat-option>
    =
  </mat-option>
  <mat-option>
    <=
  </mat-option>
  <mat-option>
    <
  </mat-option>
  <mat-option>
    changedBy
  </mat-option>
</mat-select>

<mat-select>
  <mat-option>
    association
  </mat-option>
</mat-select>
</div>
