<!--TODO если на вкладке есть неразрешенные конфлиты рисовать алерт напротив переменной и на вкладке-->
<div [formGroup]="form" class="rules">
  <ng-container formArrayName="rules">
    <ng-container *ngFor="let ruleForm of form.controls.rules.controls; let ruleIndex = index">
      <div [formGroup]="ruleForm" class="rule">
        <div>
          ----------------------------------- IF ------------------------------------------------
        </div>
        <div>
          <configurator-expression [formControl]="ruleForm.controls.expression"></configurator-expression>
        </div>
        <div class="row">
          -----------------------------------THEN------------------------------------------------
          <button mat-icon-button (click)="addAction(ruleForm.controls.actions)"><mat-icon>plus_one</mat-icon></button>

        </div>
        <div *ngFor="let action of ruleForm.controls.actions.controls; let actionIndex = index" class="row">
<!--            action {{actionIndex}} {{action.value | json}}-->
          <configurator-action [formControl]="action"></configurator-action>
          <button mat-icon-button (click)="removeAction(ruleForm.controls.actions, actionIndex)"><mat-icon>delete</mat-icon></button>
        </div>
        <div class="row">

          -----------------------------------ELSE------------------------------------------------
          <button mat-icon-button (click)="addAction(ruleForm.controls.elseBlock)"><mat-icon>plus_one</mat-icon></button>

        </div>
          <div *ngFor="let action of ruleForm.controls.elseBlock.controls; let elseIndex = index" class="row">
<!--            else action {{elseIndex}}  {{action.value | json}}-->
            <configurator-action [formControl]="action"></configurator-action>
            <button mat-icon-button (click)="removeAction(ruleForm.controls.elseBlock, elseIndex)"><mat-icon>delete</mat-icon></button>
          </div>


        <button class="remove-button" mat-icon-button (click)="removeRule(ruleIndex)"><mat-icon>delete</mat-icon></button>
      </div>
    </ng-container>
    <button mat-raised-button (click)="addRule()">AddRule</button>
  </ng-container>
</div>

э
