<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <button mat-icon-button (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
    <span class="title">{{ title$ | async }}</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      i18n-matTooltip
      [cdkCopyToClipboard]="url"
      matTooltip="Copy link to clipboard"
    >
      <mat-icon>link</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="reset()"
      i18n-matTooltip
      matTooltip="Reset configurator"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

