<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <button mat-icon-button (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
    <span class="title">{{ title$ | async }}</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      i18n-matTooltip
      [cdkCopyToClipboard]="url"
      matTooltip="Copy the link to this project to clipboard"
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="reset()"
      i18n-matTooltip
      matTooltip="Clear all settings"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

