<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <a
      mat-button
      class="header"
      routerLink="/shield"
      i18n>Z-Uno Shield Configurator</a>
    <a
      mat-button
      class="header"
      routerLink="/chip"
      i18n>ZGM230S Configurator</a>
    <span class="spacer"></span>
    <button
      mat-icon-button
      i18n-matTooltip
      [cdkCopyToClipboard]="url"
      matTooltip="Copy link to clipboard"
    >
      <mat-icon>link</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="reset()"
      i18n-matTooltip
      matTooltip="Reset configurator"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
