<div *ngIf="{ variables: variableList$ | async } as data" [formGroup]="actionForm" class="row">
  <mat-form-field appearance="outline">
    <mat-label>Variable</mat-label>
    <mat-select
      [compareWith]="getTitle"
      formControlName="action"
      class="select__display"
      panelClass="select__item"
    >
      <mat-option *ngFor="let variable of data.variables" [value]="variable">{{ variable.title }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Value</mat-label>
    <input
      formControlName="parameters"
      matInput
      placeholder="..."
      type="number"
    >
  </mat-form-field>
</div>
