<div [formGroup]="actionForm" *ngIf="{ variables: variableList$| async } as data">
  <mat-form-field >
    <mat-label>Variable</mat-label>
  <mat-select formControlName="action">
    <mat-option [value]="variable" *ngFor="let variable of data.variables">{{variable}}</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Left side</mat-label>
    <input type="text"
           placeholder="..."
           aria-label="Number"
           matInput
           formControlName="parameters"
    >
  </mat-form-field>
</div>
