<div *ngIf="{ variables: variableList$ | async, rValues: rValues$ | async } as data" [formGroup]="actionForm" class="row">
  <mat-form-field appearance="outline">
    <mat-label>Variable</mat-label>
    <mat-select
      [compareWith]="getTitle"
      formControlName="action"
      class="select__display"
      panelClass="select__item"
    >
      <mat-option *ngFor="let variable of data.variables" [value]="variable">{{ variable.title }}</mat-option>
    </mat-select>
  </mat-form-field>

  <configurator-linear-values [displayWith]="displayWith" [options]="data.rValues" label="Value" formControlName="parameters"/>
</div>
