<div class="container">
  <mat-accordion *ngIf="{code: code$ | async } as data">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Sketch code
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <configurator-upload-control [code]="data.code ?? ''"/>
          <button
            mat-icon-button
            configuratorPrevent
            [configuratorSaveAsFile]="data.code ?? ''"
            i18n-matTooltip
            matTooltip="Download code (to upload using Ardiono IDE or VS Code)"
            i18n
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            configuratorPrevent
            [cdkCopyToClipboard]="data.code ?? ''"
            i18n-matTooltip
            matTooltip="Copy code to clipboard (to upload using Ardiono IDE or VS Code)"
          >
            <mat-icon>copy_all</mat-icon>
          </button>
          <button
            mat-icon-button
            configuratorPrevent
            (click)="openEditPage(data.code ?? '')"
            i18n-matTooltip
            matTooltip="Edit code online and upload"
          ><mat-icon>edit</mat-icon></button>
          <button
            mat-icon-button
            i18n-matTooltip
            configuratorPrevent
            [cdkCopyToClipboard]="url"
            matTooltip="Copy the link to this project to clipboard"
          >
            <mat-icon>share</mat-icon>
          </button>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <pre style="white-space: pre-wrap;"><code [highlight]="data.code ?? ''"></code></pre>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="spacer"></div>
</div>

