<div class="container">
  <mat-accordion *ngIf="{code: code$ | async } as data">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Sketch code
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <configurator-upload-button
            (click)="prevent($event)"
            [code]="data.code ?? ''"
          ></configurator-upload-button>
          <button
            mat-icon-button
            (click)="prevent($event)"
            [configuratorSaveAsFile]="data.code ?? ''"
            i18n-matTooltip
            matTooltip="Download configuration file"
            i18n
          >
            <mat-icon>save</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="prevent($event)"
            [cdkCopyToClipboard]="data.code ?? ''"
            i18n-matTooltip
            matTooltip="Click to copy to clipboard"
          >
            <mat-icon>copy_all</mat-icon>
          </button>
          <button
          mat-icon-button
          (click)="openEditPage(data.code ?? '')"
          ><mat-icon>edit</mat-icon></button>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <pre style="white-space: pre-wrap;"><code [highlight]="data.code ?? ''"></code></pre>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="spacer"></div>
</div>

