.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  span {
    flex-grow: 1;
  }
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.spacer {
  height: 15vh;
}
