<form [formGroup]="deviceForm" class="child-pin">
  <mat-form-field appearance="fill" class="select">
    <mat-select
      formControlName="list"
      class="select__display"
      panelClass="select__item"
    >
      <mat-option *ngFor="let item of optionsList.options" [value]="item">{{item.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="deviceForm.controls.list.value?.withType" class="select">
    <mat-select
      formControlName="type"
      class="select__display"
      panelClass="select__item"
    >
      <mat-option [value]="connectionMode.Normal" i18n>Normal</mat-option>
      <mat-option [value]="connectionMode.Inverted" i18n>Inverted</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="deviceForm.controls.list.value?.additionally as list" class="select">
    <mat-select
      formControlName="additionally"
      class="select__display"
      panelClass="select__item"
    >
      <mat-option *ngFor="let item of list" [value]="item.value">{{item.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="optionsList.offset" class="inputs">
    {{ optionsList.key}}
    <mat-icon>arrow_right_alt</mat-icon>
    <div class="input-block">
      <input
        formControlName="lowerBound"
        maxlength="3"
        type="number"
        style="text-align: right;"
        class="short">
      -
      <input
        type="number"
        formControlName="upperBound"
        maxlength="3"
        class="short"
      >
    </div>
  </div>
</form>
