<div class="title__wrapper">
  <div class="title__main">
    <mat-icon
      *ngIf="selected"
      (click)="remove()"
      [style.cursor]="'pointer'"
    >chevron_left</mat-icon>
    <span class="title">
    {{ options.title }}
  </span>
  </div>
  <div class="subtitle" *ngIf="selected">
    {{selected.title}}
  </div>
</div>
<div class="wrapper">
  <div *ngIf="!selected" class="pins">
    <button mat-button (click)="selected = item" *ngFor="let item of options.pin">
      <div class="button">
        <div class="button__title">
          {{ item.title }}
        </div>
        <div class="arrow">
          <mat-icon class="live-arrow">chevron_right</mat-icon>
          <mat-icon class="live-arrow hide-arrow">chevron_right</mat-icon>
        </div>
      </div>
    </button>
  </div>
  <div *ngIf="selected" class="options">
    <configurator-child-pin-configurator
      [optionsList]="selected"
      [init]="init"
      (changePin)="changePin($event)"
    ></configurator-child-pin-configurator>
  </div>
</div>
<div class="filler"></div>
<configurator-order-changer
  *ngIf="position$ | async as position"
  [position]="position"
  (indexChange)="updateOrder($event)"
></configurator-order-changer>
