:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 4px;

  .filler {
    flex-grow: 1;
  }

  .wrapper {
    width: 100%;
  }

  .title__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    flex-direction: column;
    width: 100%;

    .title__main {
      display: flex;
      width: 100%;
    }

    .title {
      font-weight: bold;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pins {
    display: flex;
    flex-direction: column;

    .button {
      display: flex;
      align-items: center;

      &:hover {
        .live-arrow {
          opacity: 1;
          animation: 1s arrow infinite ease-in-out;

          &.hide-arrow {
            animation: 1s .5s arrow infinite ease-in-out;
            opacity: 1;
          }
        }
      }

      &__title {
        flex-grow: 1;
        text-align: left;
      }

      .arrow {
        position: relative;

        .live-arrow {
          transform: translateX(10px);

          &.hide-arrow {
            position: absolute;
            right: 0;
            opacity: 0;
          }
        }
      }

    }
  }

  @keyframes arrow {
    from {
      transform: translateX(10px);
    }
    15% {
      opacity: 0;
      transform: translateX(12px);
    }
    15.1% {
      transform: translateX(0);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    to {
      transform: translateX(10px);
    }
  }

  ::ng-deep {
    .mdc-button__label {
      width: 100%;
    }
  }
}
