@use "apps/configurator/src/scss/core";

mat-drawer {
  background: core.$bg;
  .header {
    font-weight: 500;
    text-decoration: none;
  }
  .active {
    background: core.$active-bg;
    color: core.$color;
  }

  .sub-menu {
    min-width: 350px;
  }
}
