<nav mat-tab-nav-bar backgroundColor="primary" [tabPanel]="tabPanel">
  <div class="container"
       [style.display]="'flex'"
       [style.padding]="0"
  >
      <span
        *ngFor="let link of links"
        mat-tab-link
        [style.flex-grow]="'unset'"
        queryParamsHandling="merge"
        [routerLink]="link.path"
        (click)="activeLink = link.path"
        [active]="activeLink === link.path"
      >
        {{link.title}}
      </span>
  </div>
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
